# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /tko/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /tko/index.php [L]
</IfModule>

# END WordPress

AddType video/ogg .ogv
AddType video/mp4 .mp4
AddType video/webm .webm
AddType image/svg+xml svg
AddType image/svg+xml svgz
AddEncoding x-gzip .svgz